<div class="sg-generic-model-device-view__title">
    <div class="sg-generic-model-device-view__title-container">
        <tui-svg class="sg-generic-model-device-view__title-icon"
                 [src]="config.icon">
        </tui-svg>
        <span class="sg-generic-model-device-view__title-text tui-text_body-s-2">
            {{ config.title }}
        </span>
    </div>
    <div class="sg-generic-model-device-view__title-options">
        <tui-hosted-dropdown
            [content]="dropdown"
        >
            <button
                class="sg-generic-model-device-view__title-options-button"
                tuiButton
                type="button"
                appearance="mono"
                size="s"
                [icon]="'tuiIconMoreVertical'"
            >
            </button>
        </tui-hosted-dropdown>
        <ng-template #dropdown>
            <tui-data-list>
                <tui-opt-group>
                    <button
                        *ngFor="let item of _menuItems;"
                        tuiOption
                        size="s"
                        (click)="_onMenuItemClick(item.id)"
                    >
                        {{ item.text }}
                    </button>
                </tui-opt-group>
            </tui-data-list>
        </ng-template>
    </div>
</div>
<ng-container
    *tuiLet="_deviceData$ | async as data"
>
    <div class="sg-generic-model-device-view__content"
         [class._switched-off]="!data?.isSwitchedOn"
         *ngIf="data; else noData">
        <sg-parameters-panel
            *ngIf="_inputParametersPanelConfig?.parameters?.length && data?.input"
            [title]="'Вход'"
            [config]="_inputParametersPanelConfig"
            [value]="data?.input"
        >
        </sg-parameters-panel>
        <sg-parameters-panel
            *ngIf="_propertiesParametersPanelConfig?.parameters?.length && data?.parameters"
            [title]="'Параметры'"
            [config]="_propertiesParametersPanelConfig"
            [value]="data?.parameters"
        >
        </sg-parameters-panel>
        <sg-parameters-panel
            *ngIf="_outputParametersPanelConfig?.parameters?.length && data?.output"
            [title]="'Выходы'"
            [config]="_outputParametersPanelConfig"
            [value]="data?.output"
        >
        </sg-parameters-panel>
    </div>
</ng-container>

<ng-template #noData>
    No Data yet...
</ng-template>
