.sg-parameter {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    min-height: 24px;
    max-height: 24px;
    align-items: center;

    &__text {
        display: flex;

        &-icon {
            margin-right: 4px;
        }

        &-unit {
            margin-left: 2px;
            color: var(--tui-base-07);
        }
    }
}
