<div class="sg-bms-model-device-view__title">
    <tui-svg class="sg-bms-model-device-view__title-icon"
             src="tuiIconZap">
    </tui-svg>
    <span class="sg-bms-model-device-view__title-text tui-text_body-s-2">
        Распределительное Устройство
    </span>
</div>
<div class="sg-bms-model-device-view__content"
     *ngIf="_data$ | async as data; else noData">
    <sg-parameters-panel
        [title]="'Вход'"
        [config]="_inputParametersPanelConfig"
        [value]="data"
    >
    </sg-parameters-panel>
    <sg-parameters-panel
        [title]="'Параметры'"
        [config]="_propertiesParametersPanelConfig"
        [value]="data"
    >
    </sg-parameters-panel>
    <sg-parameters-panel
        [title]="'Выходы'"
        [config]="_outputParametersPanelConfig"
        [value]="data"
    >
    </sg-parameters-panel>
</div>

<ng-template #noData>
    No Data yet...
</ng-template>
