<div class="sg-header__logo">
    <tui-svg class="sg-header__logo-icon"
             src="tuiIconSlackLarge">
    </tui-svg>
    <div class="sg-header__logo-text-container tui-text_body-l">
        <span class="sg-header__logo-text">
            Devices
        </span>
        <span class="sg-header__logo-text">
            Monitoring
        </span>
    </div>
</div>

<div class="sg-header__toolset">
    <div class="sg-header__toolset-items">
        <sg-pooling-interval class="sg-header__toolset-pooling-interval"></sg-pooling-interval>
        <sg-application-status class="sg-header__toolset-application-status"></sg-application-status>
    </div>
    <div class="sg-header__toolset-separator"></div>
    <div class="sg-header__toolset-server-statuses">
        <sg-server-status></sg-server-status>
    </div>
    <div class="sg-header__toolset-separator"></div>
    <div class="sg-header__toolset-icon"
         (click)="_onAboutClick()"
    >
        <tui-svg class="sg-header__toolset-icon-svg"
                 src="tuiIconAlertCircle">
        </tui-svg>
    </div>
</div>

<!--<button (click)="_onClick()">Test123</button>-->
<!--<pre>{{ _timeout$ | async }}</pre>-->

<ng-template #aboutTemplate>
    <sg-about></sg-about>
</ng-template>
