.sg-devices-grid {
    display: flex;
    flex-direction: column;
    padding: 24px 12px 0 12px;

    &__separator {
        width: 100%;
        height: 1px;
        background: var(--tui-base-03);
        margin: 12px 0 8px 0;
    }

    &__row {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        &-title {
            display: flex;
            flex: 1 1 auto;
            overflow: hidden;
            margin-bottom: 12px;
        }

        &-battery-ru {
            display: flex;
            flex: 1 1 auto;
            width: 100%;

            & > * {
                margin: 8px;
            }

            &__battery {
                flex: 1;
            }
        }

        &-impellers {
            @items-in-row: 3;

            display: flex;
            flex: 1 1 auto;
            flex-wrap: wrap;
            width: 100%;

            & > * {
                margin: 8px;
                flex-basis: calc(100% / @items-in-row - 8px * 2);
            }
        }
    }
}
