.sg-devices-grid {
    display: flex;
    flex-direction: column;
    padding: 24px 12px 0 12px;

    &__row {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        &-battery-ru {
            display: flex;
            flex: 1 1 auto;
            width: 100%;

            & > * {
                margin: 8px;
            }

            &__battery {
                flex: 1;
            }
        }

        &-impellers {
            @items-in-row: 3;

            display: flex;
            flex: 1 1 auto;
            flex-wrap: wrap;
            width: 100%;

            & > * {
                margin: 8px;
                flex-basis: calc(100% / @items-in-row - 8px * 2);
            }
        }
    }
}
