<div class="sg-bms-model-device-view__title">
    <tui-svg class="sg-bms-model-device-view__title-icon"
             src="tuiIconZap">
    </tui-svg>
    <span class="sg-bms-model-device-view__title-text tui-text_body-s-2">
        Батарея #{{ 1 }}
    </span>
</div>
<div class="sg-bms-model-device-view__content"
     *ngIf="_data$ | async as data; else noData">
    <sg-parameter
        [icon]="''"
        [unit]="'A'"
        [value]="data.cellMinVoltage">
    </sg-parameter>
</div>

<ng-template #noData>
    No Data yet...
</ng-template>
