<ng-container *tuiLet="_appStatus$ | async as appStatus">
    <ng-container [ngSwitch]="appStatus">
        <ng-template
            *ngSwitchCase="_appStatuses.RUNNING"
            [ngTemplateOutlet]="mainTemplate"
        ></ng-template>
        <ng-template
            *ngSwitchDefault
            [ngTemplateOutlet]="noDataTemplate"
        ></ng-template>
    </ng-container>
</ng-container>

<ng-template #noDataTemplate>
    <div class="sg-devices-grid__template-no-data">
        <tui-marker-icon
            class="sg-devices-grid__template-no-data-icon"
            mode="white"
            new
            size="xl"
            src="tuiIconInboxLarge"
        ></tui-marker-icon>
        <span class="sg-devices-grid__template-no-data-text tui-text_body-l">
            Нет данных
        </span>
    </div>
</ng-template>

<ng-template #mainTemplate>
    <ng-template
        [ngTemplateOutlet]="devicesTemplate"
        [ngTemplateOutletContext]="{
            wingData: data.leftWing,
            wing: _wing.LEFT_WING,
            title: 'Левое Крыло'
        }">
    </ng-template>
    <div class="sg-devices-grid__separator"></div>
    <ng-template [ngTemplateOutlet]="devicesTemplate"
                 [ngTemplateOutletContext]="{
                     wingData: data.rightWing,
                     wing: _wing.RIGHT_WING,
                     title: 'Правое Крыло'
                 }"
    ></ng-template>
</ng-template>

<ng-template #devicesTemplate
             let-wingData="wingData"
             let-wing="wing"
             let-title="title">
    <div class="sg-devices-grid__row-title">
        <span class="sg-devices-grid__row-title tui-text_body-m">
            {{ title }}
        </span>
    </div>
    <div class="sg-devices-grid__row">
        <div class="sg-devices-grid__row-battery-ru">
            <sg-generic-model-device-view
                *ngFor="let modelData of wingData.ru; let idx=index;"
                [modelName]="_modelName.RU_MODEL"
                [number]="idx"
                [wing]="wing"
                [config]="{
                    title: 'РУ #' + (idx + 1),
                    icon: 'tuiIconMinimize'
                }"
                [data]="modelData"
            ></sg-generic-model-device-view>
            <sg-generic-model-device-view
                class="sg-devices-grid__row-battery-ru__battery"
                *ngFor="let modelData of wingData.bms; let idx=index;"
                [modelName]="_modelName.BMS_MODEL"
                [number]="idx"
                [wing]="wing"
                [config]="{
                    title: 'Батарея #' + (idx + 1),
                    icon: 'tuiIconBatteryCharging'
                }"
                [data]="modelData"
            ></sg-generic-model-device-view>
        </div>
        <div class="sg-devices-grid__row-impellers">
            <sg-generic-model-device-view
                *ngFor="let modelData of wingData.impellers; let idx=index;"
                [modelName]="_modelName.IMPELLER_MODEL"
                [number]="idx"
                [wing]="wing"
                [config]="{
                    title: 'Импеллер #' + (idx + 1),
                    icon: 'tuiIconZap'
                }"
                [data]="modelData"
            ></sg-generic-model-device-view>
        </div>
    </div>
</ng-template>
