<form class="sg-form__wrapper"
      [formGroup]="_formGroup">
    <div
        class="sg-form__group"
        *ngFor="let group of config.groups;"
    >
        <div
            class="sg-form__group-title"
            *ngIf="group.label"
        >
            <span class="sg-form__group-title-text tui-text_h5">
                {{ group.label }}
            </span>
        </div>
        <div
            class="sg-form__group-inner-group"
            *ngFor="let innerGroup of group.innerGroups;"
        >
            <div
                class="sg-form__group-title"
                *ngIf="innerGroup.label"
            >
                <span class="sg-form__group-title-text tui-text_h6">
                    {{ innerGroup.label }}
                </span>
            </div>
            <div class="sg-form__group-inner-group-controls">
                <tui-input-number
                    class="sg-form__group-inner-group-control"
                    *ngFor="let i of innerGroup.controls;"
                    [formControlName]="i.name"
                    [tuiTextfieldPostfix]="i.postfix"
                >
                    {{ i.label }}
                </tui-input-number>
            </div>
        </div>
    </div>
</form>
