<div class="sg-model-parameters-configuration__container">
    <div class="sg-model-parameters-configuration__title tui-text_h2">
        <span>{{ "Настройки запуска" }}</span>
    </div>
    <div class="sg-model-parameters-configuration__container-wrapper">
        <div class="sg-model-parameters-configuration__menu">
            <tui-checkbox-labeled
                class="sg-model-parameters-configuration__menu-appearance"
            >
                Назначить параметры независимо
            </tui-checkbox-labeled>
        </div>
        <div class="sg-model-parameters-configuration__view">
            <ng-template [ngTemplateOutlet]="_isMultipleView ? multipleView : singleView"></ng-template>
        </div>
    </div>
</div>
<div class="sg-model-parameters-configuration__toolbar">
    <button
        class="sg-model-parameters-configuration__toolbar-button"
        tuiButton
        size="m"
        appearance="secondary"
    >
        Назад
    </button>
    <button
        class="sg-model-parameters-configuration__toolbar-button"
        tuiButton
        size="m"
    >
        Запустить
    </button>
</div>

<ng-template #singleView>
    <div class="sg-model-parameters-configuration__menu-items">
        <button
            tuiButton
            size="s"
            *ngFor="let btn of _singleMenuItems;"
            [appearance]="btn.id === _selectedMenuItem ? 'primary' : 'secondary'"
            (click)="_onMenuItemClick(btn.id)"
        >
            {{ btn.text }}
        </button>
    </div>
    <div class="sg-model-parameters-configuration__form">
        {{ _selectedMenuItem }}
    </div>
</ng-template>
<ng-template #multipleView>
    <div class="sg-model-parameters-configuration__menu-items">
    </div>
    <div class="sg-model-parameters-configuration__form">
        {{ _selectedMenuItem }}
    </div>
</ng-template>
