<div class="sg-overview__toolbar">
    <div class="sg-overview__toolbar-left">
        <div class="sg-overview__toolbar-left-text">
            <h4 class="sg-overview__toolbar-left-title">Overview</h4>
            <h5 class="sg-overview__toolbar-left-subtitle">Some description</h5>
        </div>
    </div>
    <div class="sg-overview__toolbar-right"></div>
</div>
<tui-tabs tuiFade>
    <button tuiTab>Devices View</button>
    <button tuiTab>Charts View</button>
</tui-tabs>
<div class="sg-overview__content">
    <h1>content...</h1>
</div>
