<tui-tabs
    class="sg-overview__tabs"
    [(activeItemIndex)]="_activeTabIndex"
    tuiFade
>
    <button tuiTab>
        Устройства
    </button>
    <button tuiTab>
        Графики
    </button>
</tui-tabs>
<div
    class="sg-overview__content"
    *ngIf="_data$ | async as data;"
>
    <sg-devices-grid
        class="sg-overview__content-item"
        [class._hidden]="_activeTabIndex !== 0"
        [data]="data"
    >
    </sg-devices-grid>
    <sg-charts-grid
        class="sg-overview__content-item"
        [class._hidden]="_activeTabIndex !== 1"
        [data]="data"
    >
    </sg-charts-grid>
</div>
