@import "../../../common/colors.less";

.sg-server-status {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 6px;
    overflow: hidden;

    &__wrapper {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        height: 100%;
        overflow: hidden;
        padding: 4px 8px;
        background: var(--tui-success-fill);
        color: var(--tui-base-01);
        pointer-events: none;
        cursor: default;

        &._error {
            background: var(--tui-error-fill);
            color: var(--tui-base-01);
            pointer-events: auto;
            cursor: pointer;
        }
    }

    &__template {
        &-text {
            display: flex;
            align-items: center;
        }

        &-icon {
            margin-right: 4px;
        }

        &-popup {
            @width: 256px;

            display: flex;
            flex-wrap: wrap;
            flex: 1 1 auto;
            overflow: hidden;
            width: @width;

            &-title {
                display: flex;
                align-items: flex-end;
                flex: 1 1 auto;
                overflow: hidden;
                margin-bottom: 12px;
                max-height: 24px;
            }

            &-item {
                position: relative;
                display: flex;
                align-items: center;
                width: calc(@width / 2 - 8px);
                padding: 4px 8px;
                margin: 4px;
                background: var(--tui-base-02);
                border-radius: 6px;
                overflow: hidden;
                height: 32px;

                &:before {
                    position: relative;
                    content: "";
                    margin-right: 4px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: var(--tui-success-fill);
                }

                &._error:before {
                    background: var(--tui-error-fill);
                }

                &-text {
                    line-height: 0;
                }
            }
        }
    }
}
